body {
  font-family: 'Press Start 2P', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, p {
  margin: 0;
}

.text-pre {
  white-space: pre-wrap;
}

.container {
  max-width: 1025px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/* Utility for vertical text */
.vertical-rl {
  writing-mode: vertical-rl;
}

.rotate-180 {
  transform: rotate(180deg);
}